<% include ./partials/header %>

<div class="blogs-container">
    <h1 class="blogs-header">My Blogs</h1>
    <a href="/blogs/new" class="btn new-blog">New Post</a>
    
    <div class="blogs-divided">
        <% blogs.forEach(blog => { %>
            <div class="each-blog">
                <a href="/blogs/<%= blog._id %>" class="blog-title"><h1><%= blog.title %></h1></a>
                <img src="<%= blog.image %>">
                <p class="blog-date"><%= blog.created.toDateString() %></p>
                <p><%- blog.body.substring(0,200) %>...</p>
                <div class="blog-buttons">
                    <a href="/blogs/<%= blog._id %>" class="btn read-more">Read More</a>
                </div>
            </div>
        <% }); %>
    </div>
    
</div>

<% include ./partials/footer %>